@use '@renderer/styles/libs/functions/index' as *;
@use '@renderer/styles/libs/mixins/index' as *;
@use '@renderer/styles/_variable.scss' as *;

body {
  position: relative;
  font-family: 'Hiragino Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: $baseFontColor;
  background: #fff;
  -webkit-app-region: drag; // ドラッグ可能な領域の設定 NOTE: https://www.electronjs.org/ja/docs/latest/api/frameless-window

  &.scroll-prevent {
    overflow: hidden;
  }
}

.root {
  overflow-x: clip;
  width: #{$baseContainerWidth}px;
  margin-right: auto;
  margin-left: auto;
}

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

section {
  -webkit-app-region: no-drag;
}

ul {
  -webkit-app-region: no-drag;
}

header {
  -webkit-app-region: drag;
}

hr {
  display: block;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: p('border', 'l1');
}
